{
  "extends": ["airbnb-base"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
  },
  "rules": {
   "arrow-parens": [2, "as-needed"],
   "import/prefer-default-export": [1],
   "indent": ["error", 2, { "MemberExpression": "off", "SwitchCase": 1 }],
   "function-paren-newline": [0],
   "no-console": ["error", { allow: ["warn", "error", "log"] }]
  }
}
